// fonts
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(../fontello/css/mederi-icons.css);
.fp {font-family: 'PT Serif',serif;} // font primary
.fh {font-family: 'PT Serif',serif;} // font header
.fi {font-family: 'mederi-icons';} // font icon

// body
@bb: #fff; // body background

// colors
@cp: #000000; // color primary
@cl: #5d96cf; // color link
@green: #47baa1;
@brown: #cc9987;

// font sizes
@fsp: 17px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 24px; // font size h2
@fsh3: 20px; // font size h3
@fsh4: 18px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 0 20px;