#page-header{
	.logo{
		.clearfix;
		color: #fff;
		background: lighten(@cl,12%);
		a{
			.col-5;
			height: 86px;
			float: left;
			margin: 0 0 0 18px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat center;
		}
		span{
			.col-7;
			padding-top: 33px;
			margin: 0 0 0 -20px;
			font-size: 19px;
			line-height: 1.2;
			letter-spacing: -0.008em;
		}
	}
}
#col-main{
	width: 74%;
	float: left;
	padding: 0 50px 0 0;
	margin: 0 0 50px;
	border-right: 1px solid lighten(@cl,12%);
}
#col-right{
	width: 26%;
	float: left;
	padding: 0 0 0 38px;
	margin: 0 0 50px -1px;
	border-left: 1px solid lighten(@cl,12%);
}
#page-footer{
	margin: 15px 0 0;
	.inner{
		.clearfix;
		padding: 40px 0;
		border-top: 1px solid lighten(@cl,12%);
	}
	.copy{
		float: left;
		font-size: 12px;
		color: #787878;
		p{
			margin: 0;
		}
	}
	.xart{
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		a{
			color: #787878;
			text-decoration: none;
			&:hover{
				color: @cp;
			}
		}
		img{
			float: right;
			margin: 0 -4px 0 8px;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: lighten(@cl,12%);
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80c';
			font-size: 20px;
		}
		&:hover{
			background: @cl;
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}