.mod_menu-top{
	.clearfix;
	padding: 15px 7px 13px;
	ul{
		.rul;
		float: right;
		li{
			.rli;
			float: left;
			text-transform: lowercase;
			font-size: 12px;
			letter-spacing: 0.05em;
			padding: 0 0 0 12px;
			margin: 0 0 0 13px;
			border-left: 1px solid lighten(@cl,12%);
			&:first-child{
				border-left: 0;
			}
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					float: left;
					font-size: 16px;
					margin: -3px 4px -3px 0;
				}
			}
			&.register a:before{
				content: '\e800';
			}
			&.login a:before{
				content: '\e812';
			}
		}
	}
}
.mod_menu-main{
	position: relative;
	z-index: 999;
	margin: 0 0 30px;
	border-bottom: 1px solid lighten(@cl,12%);
	&>ul{
		.rul;
		text-align: center;
		padding: 20px 0 0;
		&>li{
			.rli;
			position: static;
			display: inline-block;
			&:before{
				display: inline-block;
				position: relative;
				top: 2px;
				left: 0;
				height: 15px;
				border-left: 1px solid lighten(@cl,12%);
			}
			&:first-child:before{
				display: none;
			}
			&.search{
				position: relative;
				a{
					&:after{
						.fi;
						margin: 0 0 0 7px;
						content: '\e803';
						font-size: 16px;
					}
				}
				.search-form{
					.clearfix;
					display: none;
					position: absolute;
					right: 0;
					top: 100%;
					padding: 10px;
					white-space: nowrap;
					background: lighten(@cl,12%);
					input[type=text]{
						.rin;
						background: #fff;
						width: 180px;
						padding: 5px 8px;
						font-size: 15px;
					}
					button{
						.rin;
						color: #fff;
						&:before{
							.fi;
							padding: 0 10px;
							content: '\e803';
						}
						&:hover{
							color: @cp;
						}
					}
				}
				&:hover{
					.search-form{
						display: block;
					}
				}
			}
			.caret{
				position: relative;
				top: 2px;
				display: inline-block;
				margin: 0 0 0 11px;
				font-size: 18px;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			&>a{
				display: inline-block;
				text-transform: uppercase;
				text-decoration: none;
				margin: 0 20px;
				font-size: 16px;
				line-height: 1;
				letter-spacing: -0.03em;
				padding: 0 0 21px;
				&:hover{
					color: @cp;
				}
			}
			ul{
				.rul;
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				text-align: left;
				li{
					.rli;
					.col-9;
					padding: 0;
					margin: 0 0 1px;
					a{
						display: block;
						padding: 11px 20px;
						color: #fff;
						background: lighten(@cl,12%);
						text-decoration: none;
						text-transform: uppercase;
						&:before{
							content: '\00bb';
							float: right;
						}
						&:hover{
							color: #000;
						}
					}
				}
			}
			&:hover{
				ul{
					display: block;
				}
			}
		}
	}
}
.mod_custom-analyzy,.mod_custom-komentare{
	margin: 15px 0 67px;
	.mod-title{
		text-transform: uppercase;
		color: @cl;
		font-size: 21px;
		line-height: 1;
		letter-spacing: 0.08em;
		font-weight: bold;
		margin: 0 0 32px;
		&:before{
			.fi;
			position: relative;
			top: -1px;
			font-weight: normal;
			margin: 0 9px 0 0;
			content: '\e804';
			font-size: 19px;
		}
	}
	.item{
		.clearfix;
		padding: 0 0 0 23px;
		margin: 30px 0;
		border-left: 7px solid lighten(@cl,12%);
		font-size: 14px;
		line-height: 1.2;
		figure img{
			float: right;
			margin: 0 0 0 20px;
		}
		h2{
			margin: 0;
			font-size: 20px;
			line-height: 1;
			font-weight: bold;
			letter-spacing: 0.01em;
			a{
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		p{
			margin: 10px 0 0;
		}
	}
}
.mod_custom-komentare{
	.mod-title{
		color: @green;
		&:before{
			content: '\e805';
		}
	}
	.item{
		border-left-color: @green;
	}
}
.mod_custom-articles{
	margin: 15px 0 67px;
	.col-9 &,.col-8 &,.col-7 &,.col-6 &{
		padding-right: 50px;
		border-right: 1px solid lighten(@cl,12%);
	}
	.item{
		line-height: 1.2;
		margin: 0 0 37px;
		.meta{
			.clearfix;
			margin: 0 0 12px;
			h3{
				float: left;
				margin: 0;
				line-height: 1.2;
				font-weight: normal;
				color: @cl;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.category{
				margin: 3px 0 0;
				font-size: 15px;
				float: right;
				text-transform: uppercase;
				color: @cl;
				line-height: 1.2;
				letter-spacing: 0.06em;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&:before{
					.fi;
					float: right;
					position: relative;
					top: 1px;
				}
				&.analyza{
					&:before{
						content: '\e804';
						padding-left: 6px;
					}
				}
				&.konference{
					color: @brown;
					&:before{
						content: '\e801';
						padding-left: 6px;
					}
					a{
						color: @brown;
					}
				}
				&.komentar{
					color: @green;
					&:before{
						content: '\e805';
						padding-left: 6px;
					}
					a{
						color: @green;
					}
				}
			}
		}
		h2{
			margin: 0;
			font-weight: bold;
			font-size: 20px;
			a{
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		p{
			margin: 15px 0;
		}
	}
}
.mod_banners{
	margin: 15px 0 35px;
	text-align: center;
	#col-right &{
		margin-top: 0;
	}
	.col-3 &,.col-4 &,.col-5 &,.col-6 &{
		border-left: 1px solid lighten(@cl,12%);
		margin-left: -41px;
		padding-left: 41px;
	}
	.mod-title{
		text-transform: uppercase;
		color: @cl;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.06em;
		font-weight: bold;
		margin: 0 0 36px;
	}
	ul{
		.rul;
		li{
			.rli;
			margin: 25px 0;
			img{
				display: block;
				margin: auto;
			}
		}
	}
}
.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			font-size: 14px;
			margin: 0 10px 0 0;
			&:before{
				top: 5px;
			}
			&:first-child{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}
	}
}
.mod_custom-category-header{
	.clearfix;
	margin: -10px 0 40px;
	border-bottom: 1px solid lighten(@cl,12%);
	h1,h2,h3{
		float: left;
		margin: 0 0 19px;
		font-weight: normal;
		font-size: 20px;
		line-height: 1.2;
		color: @cl;
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.category{
		float: right;
		color: @cl;
		text-transform: uppercase;
		line-height: 1.7;
		font-size: 16px;
		letter-spacing: 0.02em;
		padding: 0 0 11px;
		border-bottom: 5px solid lighten(@cl,12%);
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		&:before{
			.fi;
			float: right;
			position: relative;
			top: 1px;
		}
		&.analyza{
			&:before{
				content: '\e804';
				padding-left: 6px;
			}
		}
		&.konference{
			color: @brown;
			&:before{
				content: '\e801';
				padding-left: 6px;
			}
			a{
				color: @brown;
			}
		}
		&.komentar{
			color: @green;
			&:before{
				content: '\e805';
				padding-left: 6px;
			}
			a{
				color: @green;
			}
		}
	}
}
.mod_custom-article-comments{
	padding: 0 0 6px;
	margin: 0 0 35px;
	border-bottom: 1px solid lighten(@cl,12%);
	.mod-title{
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1;
		color: @green;
		margin: 0 0 9px;
		letter-spacing: -0.01em;
		&:before{
			.fi;
			font-size: 15px;
			margin: 0 7px 0 0;
			content: '\e805';
		}
	}
	.meta{
		font-size: 12px;
		margin: 0 0 23px;
		a{
			color: @cp;
			display: inline-block;
			&:before{
				.fi;
				position: relative;
				top: -3px;
				float: left;
				font-size: 17px;
				margin: 0 7px 0 0;
			}
			&.login{
				&:before{
					content: '\e812';
				}
			}
			&.register{
				&:before{
					margin-left: 3px;
					content: '\e800';
				}
			}
		}
	}
	.item{
		font-size: 14px;
		line-height: 1.2;
		margin: 20px 0 32px;
		.author{
			font-weight: bold;
			margin: 0 0 3px;
		}
		.date{
			font-size: 13px;
			color: #858585;
			&:before{
				.fi;
				float: left;
				margin: 0 5px 0 0;
				content: '\e806'
			}
		}
		p{
			margin: 10px 0;
		}
		.re{
			margin: -4px 0 0;
			a{
				color: @cp;
				&:before{
					.fi;
					float: left;
					margin: 0 5px 0 0;
					content: '\e810'
				}
			}
		}
	}
}
.article-meta{
	.clearfix;
	margin: 0 0 23px;
	.date{
		float: left;
		font-size: 16px;
		line-height: 1.2;
		&:before{
			.fi;
			float: left;
			margin: 0 8px 0 0;
			content: '\e806'
		}
	}
	.tools{
		.rul;
		float: right;
		margin: -3px 0 0;
		li{
			.rli;
			float: left;
			a{
				text-decoration: none;
				color: @cp;
				&:hover{
					color: @cl;
				}
			}
			span{
				position: relative;
				display: block;
				width: 32px;
				height: 32px;
				font-size: 23px;
				line-height: 1;
				text-indent: -9999px;
				&:before{
					position: absolute;
					top: 0;
					right: 0;
					text-indent: 0;
					float: right;
				}
			}
		}
	}
}
.article-header{
	text-align: center;
	font-weight: bold;
	margin: 0 0 30px;
}
.article-footer{
	.clearfix;
	margin: 30px 0;
	a{
		font-size: 16px;
		color: @cp;
	}
	.list{
		float: left;
		&:before{
			.fi;
			position: relative;
			top: 1px;
			float: left;
			content: '\e80b';
			margin: 0 9px 0 0;
		}
	}
	.next{
		float: right;
		&:before{
			.fi;
			.border-radius(4px);
			position: relative;
			top: 2px;
			float: right;
			content: '\e80d';
			margin: 0 0 0 9px;
			color: #fff;
			background: @cp;
			width: 20px;
			height: 20px;
			line-height: 20px;
			font-size: 12px;
			text-align: center;
		}
	}
}
.mod_custom-temata{
	.item{
		line-height: 1.26;
		margin: 0 0 37px;
		&.highlight{
			margin-top: 5px;
			margin-bottom: 75px;
			padding-left: 24px;
			border-left: 7px solid lighten(@cl,12%);
		}
		.meta{
			.clearfix;
			.date{
				float: left;
				font-size: 13px;
				line-height: 1.7;
				color: #858585;
				&:before{
					.fi;
					float: left;
					margin: 0 5px 0 0;
					content: '\e806'
				}
			}
			.category{
				margin: 3px 0 0;
				font-size: 15px;
				float: right;
				text-transform: uppercase;
				color: @cl;
				line-height: 1.2;
				letter-spacing: 0.06em;
				a{
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&:before{
					.fi;
					float: right;
					position: relative;
					top: 1px;
				}
				&.analyza{
					&:before{
						content: '\e804';
						padding-left: 6px;
					}
				}
				&.konference{
					color: @brown;
					&:before{
						content: '\e801';
						padding-left: 6px;
					}
					a{
						color: @brown;
					}
				}
				&.komentar{
					color: @green;
					&:before{
						content: '\e805';
						padding-left: 6px;
					}
					a{
						color: @green;
					}
				}
			}
		}
		figure{
			img{
				float: right;
				margin: 18px 0 0 20px;
			}
		}
		h2{
			font-size: 20px;
			margin: 15px 0 10px;
			a{
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		p{
			margin: 10px 0;
		}
	}
}